.d-button{
    border-radius: 4px;
    background-color: #019160;
    height: 40px;
    color: #ffffff;
    padding-left: 24px;
    padding: 0px 24px 0px 24px;
    border: none;
    cursor: pointer;
    min-width: 100px;
}

.d-button:hover{
    background-color: #2FBE8E;
}

.d-button:active{
    background-color: #01B075;
}

.d-button-delete{
    height: 32px;
    border-radius: 4px;
    background-color: #e9ebee;
    color: #fff;
    border: 1px solid #bbb;
    cursor: pointer;
    margin-right: 3px;
}

.d-button-duplicate{
    height: 32px;
    border-radius: 4px;
    background-color: #e9ebee;
    color: #fff;
    border: 1px solid #bbb;
    cursor: pointer;
    margin-right: 3px;
}

.d-button-refresh{
    height: 32px;
    border-radius: 4px;
    background-color: #e9ebee;
    color: #fff;
    border: 1px solid #bbb;
    cursor: pointer;
    margin-right: 3px;
}