table{
    width: 100%;
    border-spacing: 0;
}

.d-table{
    overflow-y: auto;
}

tr{
    height: 48px;
}

tbody tr:nth-child(odd){
    background-color: #e5e5e5;
}

tbody tr:hover{
    background-color: #2FBE8E;
}

th,td{
    border-bottom: 1px solid #bbb;
    text-align: left;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 0px 12px;
}

